@import "src/scss/variables";

.modal-header {
    display: block;
    text-align: center;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

.spinner-border {
    width: 4em;
    height: 4em;
    border-width: 0.5em;
}

.gas {
    display: flex;
    align-self: center;
}

.gas-slider-adjustment .ngx-slider {
    margin-top: 0.7em;
}

.gas-slider-adjustment .ngx-slider .ngx-slider-bar {
    background: $white;
    height: 5px;
}

.gas-slider-adjustment .ngx-slider .ngx-slider-pointer {
    width: 16px;
    height: 16px;
    bottom: -8px;
    background-color: $primary;
}

.gas-slider-adjustment .ngx-slider .ngx-slider-pointer:focus {
    outline-style: none !important;
    outline-width: 0 !important;
}

.gas-slider-adjustment .ngx-slider .ngx-slider-pointer:after {
    display: none;
}

.gas-slider-adjustment .ngx-slider .ngx-slider-bubble {
    display: none;
}

.coins-fee-select {
    background-color: $gray-990;
    color: white;
    border: 1px solid white;
    margin-left: 0.5em;
}
